<h1><%= title %></h1>
    
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/register" method="post">
    <label for="fname">First Name<span style="color:orangered">*</span></label>
    <input type="text" id="fname" name="account_firstname" required value="<%= locals.account_firstname %>">
    
    <label for="lname">Last Name<span style="color:orangered">*</span></label>
    <input type="text" id="lname" name="account_lastname" required value="<%= locals.account_lastname %>">
    
    <label for="email">Email<span style="color:orangered">*</span></label>
    <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
    
    <label for="password">Password<span style="color:orangered">*</span></label>
    <small>
        minimum 12 chars, 1 capital, 1 number and 1 special char!
    </small>
    <div>
        <input 
            type="password" id="pword" name="account_password" placeholder="Enter a valid email address" 
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        required>
        <button type="button" id="pswdBtn">Show</button>
    </div>

    <button type="submit">Register</button>
</form>

<script src="/js/passwordHider.js"></script>